@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-black: #222222;
  --color-black-100: #333;
  --color-black-200: #444;



  --color-grey: #6C6C6C;
  --color-grey-50: #F5F5F5;
  --color-grey-100: #EAEAEA;
  --color-grey-150: #EFEFEF;
  --color-grey-200: #DCDCDC;
  --color-grey-300: #D1D1D1;
  --color-grey-350: #BEBEBE;
  --color-grey-400: #969696;
  --color-grey-500: #646464;
  --color-grey-600: #616161;
  --color-grey-700: #666;
  --color-grey-800: #888;
  --color-grey-900: #F6F6F6;
  --color-grey-950: #F1F1F1;


  --color-ocean: #0635DA;
  --color-ocean-100: #F5F9FD;

  --color-orange: #FDF8F2;

  --color-pink: #FFF8FB;

  --color-red: #F66F6F;

  --color-white-100: #f0f0f0;
  --color-white-200: #FAFAFA;
  --color-white-300: #FCFCFC;
  --color-white-400: #F9F9F9;

}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-pink-gradient: linear-gradient(90deg, #E432B3, #FAA2A2);
  --bg-blue-gradient: linear-gradient(90deg, #0635DA, #42A5F5);
  --bg-black-gradient: linear-gradient(90deg, #222222, #444444);
  --bg-orange-gradient: linear-gradient(90deg, #FF8400, #F0CE93);

  --text-pink-gradient: linear-gradient(90deg, #E432B3, #FAA2A2);
  --text-blue-gradient: linear-gradient(90deg, #0635DA, #42A5F5);
  --text-black-gradient: linear-gradient(90deg, #222222, #444444);
  --text-orange-gradient: linear-gradient(90deg, #FF8400, #F0CE93);
}

/* Gradient background */
.bg-pink-gradient {
  background-image: var(--bg-pink-gradient);
}
.bg-blue-gradient {
  background-image: var(--bg-blue-gradient);
}
.bg-black-gradient {
  background-image: var(--bg-black-gradient);
}

.bg-orange-gradient {
  background-image: var(--bg-orange-gradient);
}

/* Gradient text */
.text-pink-gradient {
  background: var(--text-pink-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-blue-gradient {
  background: var(--text-blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-black-gradient {
  background: var(--text-black-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-orange-gradient {
  background: var(--text-orange-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-pink-gradient {
  border-width: 2px;
  border-image: linear-gradient(90deg, #E432B3, #FAA2A2) 1;
  border-style: solid;
}

.border-blue-gradient {
  border-width: 2px;
  border-image: linear-gradient(90deg, #0052F0, #8BD7FF) 1;
  border-style: solid;
}

.border-orange-gradient {
  border-width: 2px;
  border-image: linear-gradient(90deg, #FF8400, #F0CE93) 1;
  border-style: solid;
}




/* Grey text utility */
.text-grey-500 {
  color: var(--grey-500);
}


a {
  font-weight: 500;
  text-decoration: inherit;
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}